@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Lora&family=Roboto&display=swap');
.wrapper{
    position: relative;
    z-index: 1;
    width: 98vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .body{
        color: white;
        width: 800px;
        height: 200px;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        font-family: 'Roboto', sans-serif;
        .name{
           color: turquoise;
        }
        .button{
            border: 2px solid white;
            width: 150px;
            margin-top: 20px;
            color: turquoise;
            font-weight: 700;
        }
        .CV{
            border: 1px solid white;
            width: 50px;
            margin-top: 10px;
            color: turquoise;
            font-weight: 700;
         }
        .CV:hover{
            background-color: #11181d;
        }
    }
}
@media only screen and (max-width: 500px) {
  .wrapper{
    position: relative;
    z-index: 1;
    width: 98vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
     .body{
        color: white;
        width: 800px;
        height: 200px;
        font-size: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
     
        .button{
            border: 2px solid white;
            width: 150px;
            margin-top: 20px;
            color: turquoise;
            font-weight: 700;
            font-size: 1rem;
        }
        .CV{
            border: 1px solid white;
            width: 50px;
            margin-top: 10px;
            color: turquoise;
            font-weight: 700;
            font-size: 1rem;
         }
     }
  }
  }