@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.wrapper{
    position: relative;
    z-index: 1;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header{
        font-size: 50px;
        color: #212b31;
        height: fit-content;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-top: 65px;
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid #212b31;
    }
    .buzzword-grid{
        border: 1px solid blue;
        width: 100vw;
        height: 35vh;
        margin-top: 10vh;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid red;
        color: turquoise;
        font-weight: 500;
        height: 10vh;
        width: 10vh;
    }
    
}
