@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.contact-wrapper{
    position: relative;
    z-index: 1;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    :first-child{
        font-size: 50px;
        color: white;
        height: fit-content;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin-top: 30px;
        margin-top: 5vh;
        opacity: 1;
    }
   .underline{
        border-bottom: 1px solid turquoise;
        width: 25vw;
      
    }
    .links{
        width: 30vw;
        height: 5vh;
        display: flex;
        align-items: flex-end;
        justify-content: space-evenly;
        padding: 0;
        :hover{
            color: turquoise;
        }
      
    }
    .form{
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        align-items: center;
        :nth-child(2){
            all: unset;
            width: 30vw;
            height: 5vh;
            margin-bottom: 1vh;
            font-family: 'Roboto', sans-serif;
            background-color: #2e404d;
            color: white;
        }
        :nth-child(4){
            all: unset;
            margin-bottom: 1vh;
            width: 30vw;
            height: 5vh;
            font-family: 'Roboto', sans-serif;
            background-color: #2e404d;
            color: white;
            box-shadow: 0;
        }
        :nth-child(6){
            all: unset;
            width: 30vw;
            height: 15vh;
            background-color: #2e404d;
            color: white;
            font-family: 'Roboto', sans-serif;
        }
        :nth-child(7){
            all: unset;
            font-family: 'Roboto', sans-serif;
            width: 30vw;
            height: 14vh;
            background-color: #2e404d;
            margin-bottom: 2vh;
            color: white
        }
    }
    
}

@media only screen and (max-width: 500px) {
    .contact-wrapper{
        .form{
            display: flex;
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
            align-items: center;
            :nth-child(2){
                all: unset;
                width: 60vw;
                height: 5vh;
                margin-bottom: 1vh;
                font-family: 'Roboto', sans-serif;
                background-color: #2e404d;
                color: white;
            }
            :nth-child(4){
                all: unset;
                margin-bottom: 1vh;
                width: 60vw;
                height: 5vh;
                font-family: 'Roboto', sans-serif;
                background-color: #2e404d;
                color: white;
                box-shadow: 0;
            }
            :nth-child(6){
                all: unset;
                width: 60vw;
                height: 15vh;
                background-color: #2e404d;
                color: white;
                font-family: 'Roboto', sans-serif;
            }
            :nth-child(7){
                margin-top: 3vh;
                font-family: 'Roboto', sans-serif;
                width: 10vw;
                color: turquoise;
                border: 1px solid turquoise;
            }
        }
    }
}