.projects-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    text-align: left;
    z-index: 10;
}
  
.projects-container .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    z-index: 10;

}
  
.projects-container .projects-grid .project {
    text-align: left;
    z-index: 10;

}
  
.project h2:hover {
    text-decoration: underline;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    z-index: 10;

}
  
.zoom {
    border-radius: 5px;
    transition: transform .2s;
    margin: 0 auto;
    z-index: 10;

}
  
.zoom:hover {
    transform: scale(1.05);
    z-index: 10;

}

@media screen {
    @media (max-width: 700px) {
        .projects-container {
            padding-left: 5%;
            padding-right: 5%;
            z-index: 20;

        }
  
        .projects-container .projects-grid {
            z-index: 10;

        }
      
        .projects-container .projects-grid .project {
            padding-bottom: 5%;
            z-index: 10;

        }
    }
}

@media screen {
    @media (max-width: 370px) {
        .projects-container .projects-grid {
            grid-gap: 10px;
        }
        .projects-container .projects-grid .project {
           font-size: small;
        }
    }
}